{
  width: 0px;
  height: 0px;
}
/* headar section */
header {
 background-image:linear-gradient(360deg, #121212 -26.05%, rgba(18, 18, 18, 0) 88.6%),url("../images/donation4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 width: 100%;
  height: 80vh; 
  justify-content:center;
  margin-top: -25px;
  margin-left: -7px;
  margin-bottom: 100px;
  
  /* background: linear-gradient(360deg, #020202f1 0%, rgba(243, 240, 237, 0.488)  100% ); */
}
.headar-title {
  text-align: center;
  color: white;
  padding: 80px 50px 10px 50px;
  font-weight: 900;
  font-size: 50px;
}
.headar-discription{
    color: white;
    text-align: center;
    margin-top: -20px;
    font-size: 25px;
    
}
.btn-praimay{
    background: #FF5959;
    border-radius: 5px;
   justify-content: center;
   text-align: center;
   margin-left: 50%;
    border: none;
    padding: 16px;
    color: white;
    font-weight: 700;
}

/* donate today section */
.day-section{
    justify-content: center;
    text-align: center;
}
.ammount-quantity ul {
    display: flex;
    text-align: center;
    justify-content: center;
}
.ammount-quantity li{
  margin-left: 20px;
    list-style: none;
    box-shadow: #121212;

   

}
